body {
    font-family: 'Roboto', sans-serif;
}

.homepage-upperheader {
    display: flex;
    max-height: 100px;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    background-color: #1F2937;
    
}

.homepage-logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

.homepage-links {
    display: flex;
}
 
.homepage-nav {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    list-style: none;
    gap: 20px;
}

a:link, a:visited {
    color: #f9faf8;
    text-decoration: none;
}

a:hover {
    color: #f1e3e4;
}