
body {
    font-family: 'Roboto', sans-serif;
}

/* UPPER HEADER */

.homepage-upperheader {
    display: flex;
    min-height: 40px;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2937;
    flex-flow: wrap;
    flex-basis: 100%;
}

.homepage-logo {
    font-size: 24px;
    font-weight: 600;
    color: #f9faf8;
    align-items: center;
    padding: 0;
}
 
.homepage-nav {
    display: flex;
    font-size: 18px;
    font-weight: 300;
    color: #e5e7eb;
    list-style: none;
    gap: 4em;
}

.homepage-nav a:link, a:visited {
    color: #e5e7eb;
    text-decoration: none;
}

.homepage-nav a:hover {
    color: #f1e3e4;
    text-decoration: underline;
}

/* MANTRA / PICTURE */

.homepage-lowerheader {
    display: flex;
    flex-flow: wrap;
    background-color: #1F2937;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    min-height: 400px;
    flex-basis: 100%;
}

.left-lowerheader {
    display: flex;
    flex-flow: column wrap;
    gap: .5em;
    padding: 0px;
    max-width: 480px;
    min-height: 240px;
    justify-content: space-around;
}

.newsletter-title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.newsletter-description {
    font-size: 18px;
    font-weight: 300;
    color: #e5e7eb;
}

.subscribe-button .newsletter-button {
    font-size: 14px;
    border-radius: 1em;
    background-color: #3882f6;
    color: #f1e3e4;
    border: 0;
    padding: 10px;
}

.right-lowerheader {
    display: flex;
    align-content: center;
    padding: 0;
}

.header-image img {
    display: flex;
    height: 240px;
    width: 480px;
}
